.gallery-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px;
}

.journal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;

}

.journal-cover {
  width: 100px;
  height: 150px;
  background-color: black;
  border-radius: 5px;
}