.menu {
  position: fixed;
  width: 150px;
  margin-top: 54px;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.menuList {
  list-style-type: none;
  padding: 0;
  padding-top: 5px;
  margin: 0;
}

.menuList li {
  margin-bottom: 7px;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.menu-link.active {
  /* Styles for the active (clicked) link */
  font-weight: bold;
}